@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex-end-center {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@mixin flex-center-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

@mixin flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
