$color-blue: rgb(13, 105, 246);
$color-white: #ffffff;
$color-gray: rgb(46, 46, 46);
$color-background-gray: rgb(21, 21, 21);
$color-back-gray-footer: rgb(36, 36, 36);
$color-gray-footer-menu: rgb(126, 126, 126);
$color_green: rgb(65, 159, 65);
$color_gray_back_comic: rgb(244, 244, 244);
