$color-blue: rgb(13, 105, 246);
$color-white: #ffffff;
$color-gray: #464646;
$color-background-gray: rgb(21, 21, 21);
$color-back-gray-footer: #303030;
$color-gray-footer-menu: #959595;
$color_green: rgb(65, 159, 65);
$color_gray_back_comic: rgb(244, 244, 244);
$color_title_comic: rgb(5, 47, 75);
$color_border_info: rgb(218, 218, 218);
$color-green-title: rgb(163, 255, 139);
$color-gray-banner-comic: rgb(207, 207, 207);
